@model IEnumerable<TemplateFieldsModel>
@using Shared

<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
<link href="~/lib/sweetalert/css/sweetalert2.min.css" rel="stylesheet" />

<style>
    .modal {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .error {
        color: red;
    }   

</style>
<div>
    <div id="temlateName" class="x_title">

        <h2 class="modal-header bg-warning">@ViewBag.TemplateName</h2>
    </div>
    <form id="formSubmit" name="userform" asp-controller="DynamicForm" asp-action="SaveFormValues" method="post" novalidate
          data-ajax="true" data-ajax-method="post" data-ajax-complete="completedsaveform" enctype="multipart/form-data" autocomplete="off">
        <div class="modal-body">
            @if (Model.Count() > 0)
            {
                @Html.Hidden("TemplateFormId", (object)ViewBag.TemplateFormId)
                @Html.Hidden("SelectedText")
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">
                                @if (item.ControlName == Shared.Enum.FieldOptions.TextBox.ToString())
                                {
                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="@item.Name" class="form-label">@item.Name</label>
                                        @if (item.IsRequired)
                                        {
                                            <input name="@item.Name" id="@item.Name" type="text" class="form-control" style="width:40%" required>
                                        }
                                        else
                                        {
                                            <input name="@item.Name" id="@item.Name" type="text" class="form-control" style="width:40%">
                                        }
                                    </div>
                                }
                                else if (item.ControlName == Shared.Enum.FieldOptions.TextArea.ToString())
                                {
                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="@item.Name" class="form-label">@item.Name</label>
                                        @if (item.IsRequired)
                                        {
                                            <textarea name="@item.Name" id="@item.Name" class="form-control" rows="2" style="width:40%" required></textarea>
                                        }
                                        else
                                        {
                                            <textarea name="@item.Name" id="@item.Name" class="form-control" rows="2" style="width:40%"></textarea>
                                        }
                                    </div>
                                }
                                else if (item.ControlName == Shared.Enum.FieldOptions.Select.ToString())
                                {
                                    @if (item.IsRequired)
                                    {
                                        <div class="col-span-12 sm:col-span-12">
                                            <label for="selection" class="form-label">@item.Name</label>
                                            <select id="selection" class="form-control" style="width:40%" name="@item.Name" required>
                                                @foreach (SelectListItem option in ViewBag.TemplateFieldOptions)
                                                {
                                                    <option value="@option.Text">@option.Text</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-span-12 sm:col-span-12">
                                            <label for="selection" class="form-label">@item.Name</label>
                                            <select id="selection" class="form-control" style="width:40%" name="@item.Name">
                                                @foreach (SelectListItem option in ViewBag.TemplateFieldOptions)
                                                {
                                                    <option value="@option.Text">@option.Text</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                }
                                else if (item.ControlName == Shared.Enum.FieldOptions.CheckBox.ToString())
                                {
                                    @if (item.IsRequired)
                                    {
                                        <div class="custom-control custom-checkbox col-span-6 sm:col-span-6">
                                            <label for="@item.Name" class="form-label">@item.Name</label>
                                            <input name="@item.Name" type="checkbox" id="@item.Name" required />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="custom-control custom-checkbox col-span-6 sm:col-span-6">
                                            <label for="textareainput" class="form-label">@item.Name</label>
                                            <input name="@item.Name" type="checkbox" id="@item.Name" />
                                        </div>
                                    }

                                }
                                else if (item.ControlName == Shared.Enum.FieldOptions.FileUpload.ToString())
                                {
                                    @if (item.IsRequired)
                                    {
                                        <div class="class=" col-span-12 sm:col-span-12"">
                                            <label for="@item.Name" class="form-label">Select File</label>
                                            <input name="@item.Name" type="file" class="custom-file-input" id="@item.Name" style="width:50%" required><br />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="class=" col-span-12 sm:col-span-12"">
                                            <label for="@item.Name" class="form-label">Select File</label>
                                            <input name="@item.Name" type="file" class="custom-file-input" id="@item.Name" style="width:50%"><br />
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                }
                <br />
                <div class="form-group">
                    <button type="submit" id="btnSubmit" class="btn btn-primary w-20">Submit</button>
                </div>
            }
        </div>
    </form>
</div>

<div class="x_title" id="viewresponse" aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1">
</div>

<div id="progressbar"></div>
@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/sweetalert/js/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#create-form').validate();
        });
        completedsaveform = function (xhr) {
           // $('#progressbar').progressbar({
            var rtn = JSON.parse(xhr.responseText);
            if (rtn.error == false) {
                Swal.fire({
                    title: 'User Form',
                    text: 'Form detials submitted successfully',
                    type: 'success',
                    allowOutsideClick: false
                }).then(function () {
                    //clearFormCreate();

                    $.ajax({
                        url: '@Url.Action("GetFormResponse", "DynamicForm")',
                        type: 'POST',
                        // headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        //dataType: 'html',
                        data: { id: rtn.TemplateFormId },
                    })
                        .done(function (response) {
                            $("#formSubmit").hide();
                            $("#temlateName").hide();
                            $('#viewresponse').html(response);
                        });
                });
                //$("#divProcessing").hide();
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'User Form',
                    text: 'Oops!! Something Went Wrong!',
                    type: 'error',
                    allowOutsideClick: false
                });
            }
            //});
        };

        function clearFormCreate() {
            var frm = document.getElementsByName('userform')[0];
            frm.reset();
        }
    </script>
        }
