@model IEnumerable<TemplateFieldsModel>

<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
<link href="~/lib/sweetalert/css/sweetalert2.min.css" rel="stylesheet" />
<style>
    .modal {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
</style>
<div>
    <div class="x_title">

        <h2 class="modal-header bg-warning">@ViewBag.TemplateName</h2>
    </div>
    <div class="modal-body">
        @if (Model.Count() > 0)
        {

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="x_content">
                            @if (item.ControlName == "TextBox")
                            {
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="nameinput" class="form-label">@item.Name</label>
                                    <input id="nameinput" type="text" class="form-control" style="width:40%">
                                </div>
                            }
                            else if (item.ControlName == "TextArea")
                            {
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="textareainput" class="form-label">@item.Name</label>
                                    <textarea id="textareainput" class="form-control" rows="2" style="width:40%"></textarea>
                                </div>
                            }
                            else if (item.ControlName == "Select")
                            {
                                <div class="col-span-12 sm:col-span-12">
                                    <label for="selection" class="form-label">@item.Name</label>
                                    @*<select class="form-control" asp-items="@ViewBag.Options" id="selection" >
                        </select>*@
                                </div>

                            }
                            else if (item.ControlName == "CheckBox")
                            {
                                <div class="custom-control custom-checkbox col-span-6 sm:col-span-6">
                                    <label for="textareainput" class="form-label">@item.Name</label>
                                    <input type="checkbox" id="chkproperty">
                                </div>
                            }
                            else if (item.ControlName == "FileUpload")
                            {
                                <div class="class=" col-span-12 sm:col-span-12"">
                                    <label for="customFile" class="form-label">Select File</label>
                                    <input type="file" class="custom-file-input" id="uploadfile" style="width:50%"><br />
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }

            <div>

                <button type="submit" id="btnSubmit" class="btn btn-primary w-20">Submit</button>
            </div>
        }
    </div>
</div>
